aside
    article
        header
            h3 Каталог товаров
        nav
            ul
                - for (var i = 0; i < 18; i++)
                    li
                        a(href="#") goods
    article
        header
            h3 Лидеры продаж
        div
            div
                p HP Pavilion
                img(src="" alt="photo")
                p цена 4 999 грн.
                button Купить
            div
                p HP Pavilion
                img(src="" alt="photo")
                p цена 4 999 грн.
                button Купить
