footer
    article
        div
            h4 Компания
            ul
                li
                    a(href="#") О магазине
                li
                    a(href="#") text
                li
                    a(href="#") text
                li
                    a(href="#") text
                li
                    a(href="#") text
        div
            h4 Выгодные предложения
            ul
                li
                    a(href="#") Акции
                li
                    a(href="#") text
                li
                    a(href="#") text
                li
                    a(href="#") text
                li
                    a(href="#") text
                li
                    a(href="#") text
        div
            h4 Помощь
            ul
                li
                    a(href="#") Вопросы и ответы
                li
                    a(href="#") text
                li
                    a(href="#") text
                li
                    a(href="#") text
        div
            div
                h4 Узнавайте первыми о распродажах
                form
                    input(type="text")
                    input(type="submit" name="Подписаться")
            div
                h4 Подписывайтесь на нас:
                - for (var i = 0; i < 6; i++)
                    img(src="" alt="icon")
    footer
        p Copyright &copy; 1994-2014, ГК "SECL Group"