header.main-header
    header
        div.nav-user
            div.drop-down
                img(src="" alt="shop")
                a(href="#") Мой магазин
                div.drop-down-content
                    a(href="#") Мои заказы
                    a(href="#") Акции
                    a(href="#") Профиль
            div
                img(src="" alt="key")
                a(href="#") Вход
        nav.main-nav
            a(href="#") О Магазине
            a(href="#") Акции
            a(href="#") Доставка и Оплата
            a(href="#") Помощь
            a(href="#") Контакты
    section
        img(src="" alt="logo" id="logo")
        article
            div.header-content
                div
                    img(src="" alt="place")
                    select
                        option(selected) Днепропетровск
                        option
                        option
                div.header-contacts
                    div
                        a(href="#") Заказать звонок
                        p 0 800 555 00 55

                    div
                        a(href="#") on-line чат
                        p 044 555 00 55
                div#header-cart
                    img(src="" alt="cart")
                    a(href="#") Корзина
            form.header-search
                input(type="text")
                select
                    option(selected) Во всем каталоге
                    option
                    option
                input(type="submit")